.eachRow {
  
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 1px 1px 10px rgb(146, 146, 146);

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
   
  }
  h4{
    // background-color: red;
    margin: 20px 0;
  }
  i{
    transition: 0.3s;
    &:hover{
        color: red;
        transform: rotateZ(180deg) scale(2);
    }
  }
}
